body{

    overflow-x: hidden;

    margin : 0;
    background: rgb(167, 160, 160);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: lightgray;

}
.intro{
 width :100%;
 height:85px;
 background-color :rgb(36, 35, 35);
 display: flex;
 justify-content:space-between;
 
 vertical-align: text-top;

 
}

.gestures_into{
  font-size: 22px;
  padding-bottom: 55px;
}


.retreat_right{
  padding-right: 35px;
}

#image{
  padding-top: 13px;
  padding-bottom: 55px;
  padding-left: 35px;
}

.nav{
    font-family:Montserrat;
    font-size: 16px;
}
.CameraCapture{
    padding-left: 0px;
    margin-top:50px;
    width: 400px;
    height:300px; 
    border:2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.b{
    margin-top: 1px;
}
.Translation{
 
    margin-top:50px;
    height: 550px; 
    width: 1000px;
    border:2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 100px;

    

}

.Info{
    width :100%;
 height:400px;
 background-color :rgb(36, 35, 35);
 display: flex;
 justify-content:space-between;
 font-size: 40px;
 vertical-align: text-top;
}
.Info2{
    width :100%;

 background-color :rgb(36, 35, 35);
 display: flex;
 justify-content:space-between;
 font-size: 30px;
 vertical-align: text-top;
 margin: top 5px;
}


.submit_button{
  margin-top :30px;
  appearance: none;
  background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
  border: 0;
  border-radius: 6px;
  box-shadow: #f5d020 0 2px 4px,#f5d020 0 7px 13px -3px,#f5d020 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.submit_button:focus {
  box-shadow: #f5d020 0 2px 4px,#f5d020 0 7px 13px -3px,#f5d020 0 -3px 0 inset;
}

.submit_button:hover {
  box-shadow: #f5d020 0 2px 4px,#f5d020 0 7px 13px -3px,#f5d020 0 -3px 0 inset;
  transform: translateY(-2px);
}

.submit_button:active {
  box-shadow: #f5d020 0 3px 7px inset;
  transform: translateY(2px);
}



