<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>NASYP</title>
</head>
<body>
    <div class="intro">
        
     <img src="assets/images/logo.png" height="90">
     <p>Gestures into Text</p> 
    <p>Audio to Text </p>
     

    
    </div>
    <!--   -->
    <div class="CameraCapture"  align= center>
		<img src="{{ url_for('video') }}" width = "50%" alt="">
        
        
        
	</div>
	<div class="Translation"></div>
    <div class="Info">
        <b>About us<p>We are LPNU students and</p> <p>this is our course project</p></b>
        <b>Our Contacts<div><p>Instagram</p>
            <p>Twitter</p>
            <p>Facebook</p>
        
        </div></b>
        <b>Donations<p>Debit card:</p></div></b>

    
    <!-- <div class="Info2"> -->
        
        
        

    </div>
</body>
</html>